@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?54223815");
  src: url("../font/fontello.eot?54223815#iefix") format("embedded-opentype"), url("../font/fontello.woff?54223815") format("woff"), url("../font/fontello.ttf?54223815") format("truetype"), url("../font/fontello.svg?54223815#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?54223815#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-github-circled:before {
  content: '\e800'; }

/* '' */
/**
* See https://github.com/google/material-design-lite/blob/master/templates/article/styles.css
*/
a {
  color: #303F9F;
  text-decoration: none; }

blockquote {
  margin: 0;
  padding: 0 15px;
  border-left: 4px solid #ddd; }
  blockquote:before, blockquote:after {
    content: "";
    margin: 0; }

.mdl-layout-title > a {
  color: #424242 !important; }

.mdl-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #514A9D;
  background: -webkit-linear-gradient(0deg, #303F9F 10%, #9C27B0 90%);
  background: linear-gradient(90deg, #303F9F 10%, #9C27B0 90%);
  flex-shrink: 0; }

.mdl-main {
  margin-top: -35vh;
  flex-shrink: 0; }

.mdl-header .mdl-layout__header-row {
  padding-left: 0; }

.mdl-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto; }

.mdl-layout.is-small-screen .mdl-content {
  padding: 40px 28px; }

.mdl-content {
  border-radius: 2px;
  padding: 30px 45px;
  margin-bottom: 80px; }
  .mdl-content h1 {
    font-size: 30px;
    line-height: normal; }
  .mdl-content h2 {
    font-size: 26px;
    line-height: normal; }
  .mdl-content h3 {
    font-size: 18px;
    line-height: normal; }
  .mdl-content h4 {
    font-size: 16px;
    line-height: normal; }

.mdl-footer {
  padding-left: 40px; }
  .mdl-footer .mdl-mini-footer--link-list a {
    font-size: 13px; }

.mdl-layout-logo {
  width: 100px; }

.icon {
  color: #424242; }

.icon-large {
  font-size: 32px; }
